@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size: 16px;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 239 82% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 239 82% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 247 20% 4%;
    --foreground: 0 0% 96%;
    --card: 248 21% 9%;
    --card-foreground: 0 0% 96%;
    --popover: 248 21% 9%;
    --popover-foreground: 0 0% 96%;
    --primary: 263 93% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 247 17% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 248 17% 12%;
    --muted-foreground: 0 0% 63%;
    --accent: 248 17% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 57%;
    --destructive-foreground: 0 74% 42%;
    --border: 248 14% 16%;
    --input: 248 14% 16%;
    --ring: 263 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
